.transaction-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    min-height: 100vh;
    height: 100%;


  }
  body{
    background: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 100%);
  }
  
  .transaction-container > h1 {
    text-align: center;
    color: #333;
  }
  
  .transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .transaction-table th, .transaction-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .transaction-table th {
    background-color: #007bff;
    color: white;
  }
  
  .transaction-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  

  .toggle-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }